.subscribeContainer {
  margin: 23px;
  /* border: 2px solid red; */
  margin-top: 300px;
  background-image: url("https://cdn.shopify.com/s/files/1/0550/4411/2561/t/3/assets/newsletter-bg_1400x400.png?v=7490910896438367796");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.subscribeInnerContainer {
  /* border: 2px solid red; */
  width: 70%;
  text-align: center;
  margin: auto;
  position: relative;
  top: 20%;
  line-height: 50px;
}
.subscribeHeading {
  color: white;
  font-size: 60px;
}
.subscribeParagraph {
  color: white;
  word-spacing: 8px;
  letter-spacing: 2px;
}
.emailAddress {
  padding: 5px;
  height: 20px;
  outline: none;
  height: 36px;
  border: 1px solid #bbbbbb;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  cursor: pointer;
  font-size: 20px;
  width: 90%;
}
.emailText {
  margin-top: 30px;
}
.singUpButton {
  border: none;
  padding: 12px 45px 13px 45px;
  background-color: #f0a73e;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  font-size: 20px;
  color: #303030;
  font-weight: bold;
  position: relative;
  top: -51px;
  left: 40%;
}
.singUpButton:hover {
  cursor: pointer;
}
