.apparelHeading {
  display: flex;
  justify-content: center;
  margin: 50px 0px 10px 0px;
  color: #303030;
  font-size: 50px;
}
.apparelInnerDiv {
  display: flex;
  justify-content: space-between;
  /* border: 3px solid rgb(0, 102, 255); */
  margin: 23px;
}
.apparelItems {
  /* border: 3px solid rgb(94, 255, 0); */
  height: 360px;
  width: 340px;
  margin-left: 10px;
}
.apparelImages {
  height: 100%;
  width: 100%;
  border: 1px solid rgb(204, 203, 204);
  border-radius: 5px;
}
.apparelData,
.apparelRupees {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.apparelRupees {
  color: #277b73;
}
