.viewAllContainer {
  /* border: 2px solid rebeccapurple; */
  position: relative;
  top: 250px;

  display: flex;
}
.viewAllContainerButton {
  margin: auto;
  color: #50478a;
  background-color: #d5d5da;
  border: none;
  padding: 15px 55px 15px 55px;
  border-radius: 40px;
  font-size: 20px;
  font-weight: bold;
}
.viewAllContainerButton:hover {
  cursor: pointer;
}
